@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
  font-size: 10px;
  background-image: radial-gradient(circle at 100% 0%, #ffd46c 0, #fed664 7.14%, #ecd65c 14.29%, #d7d656 21.43%, #c1d551 28.57%, #a8d34f 35.71%, #8cd04e 42.86%, #6acc50 50%, #3bc755 57.14%, #00c35d 64.29%, #00bf68 71.43%, #00bb75 78.57%, #00b784 85.71%, #00b494 92.86%, #00b1a6 100%);  background-size: cover;
}

body,html, kbd {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  
}

.key {
  border: .2rem solid rgba(255, 255, 255, 0.274);
  border-radius: 20%;
  margin: 1rem;
  font-size: 2rem;
  padding: 1rem 1rem;
  transition: all 0.20s ease-in-out;
  width: 9rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(0.9);
  border-color: #f5f5f5;
  box-shadow: 0 0 15px 5px #c9c8c4;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}
